{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouvel utilisateur{% endblock %}

{% block content %}
    <div class="container">
     

        <div class="main">
            <div class="section">
                <h1>Ajouter un nouvel utilisateur</h1>

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn col-blue text-white fw-bold">Enregistrer</button> <!-- Added btn-primary class -->
                <a href="{{ path('admin_users') }}" class="btn col-orange text-white fw-bold">Annuler</a> <!-- Added btn-danger class -->
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
