<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Liste des recettes</title>
</head>
<body>
    <h1>Liste des recettes</h1>
    <ul>
        {% for recipe in recipes %}
            <li>{{ recipe.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>
