{% extends 'base.html.twig' %}

{% block title %}Modifier l'ustensile'{% endblock %}

{% block body %}
    <h1>Modifier l'ustensile</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
