{% extends 'base.html.twig' %}

{% block title %}Ajouter un ustensile{% endblock %}

{% block body %}
    <h1>Ajouter un ustensile</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
