{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle recette{% endblock %}

{% block content %}
    <div class="container-fluid">
        <header class="mb-4">
            <div class="container py-3">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h1>Ajouter une nouvelle recette</h1>
                    </div>
                 
                </div>
            </div>
        </header>

        <div class="container">
            <div class="section">
                <form action="{{ path('admin_recipes_new') }}" method="post"> {{ form_widget(form) }} <button type="submit" class="btn btn-primary">Enregistrer</button>
                    <a href="{{ path('admin_recipes') }}" class="btn btn-danger">Annuler</a>
                </form>
            </div>
        </div>

{% endblock %}
