{% extends 'base.html.twig' %}

{% block title %}Modifier le commentaire{% endblock %}

{% block content %}
    <div class="container-fluid">
        <header class="mb-4">
            <div class="container py-3">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h1>Modifier le commentaire</h1>
                    </div>
                 
                </div>
            </div>
        </header>

        <div class="container">
            <div class="section">
                <form action="{{ path('admin_review_edit', {'id': review.id}) }}" method="post">
                    {{ form_row(form.text) }}
                    {{ form_row(form.status) }}
                    
                    <button type="submit" class="btn btn-primary">Valider</button>
                    <a href="{{ path('admin_recipes') }}" class="btn btn-danger">Annuler</a>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
