{% extends 'base.html.twig' %}

{% block title %}Modifier le commentaire{% endblock %}

{% block content %}
    <h1>Modifier le commentaire</h1>

    {{ form_start(form) }}
    {{ form_row(form.status) }}
    <button type="submit" class="btn btn-primary">Valider</button>
    {{ form_end(form) }}
{% endblock %}
